<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        <span>
            <a>
                <i class="material-icons pink">
                    icecream
                </i>
                Ice Cream
            </a>
        </span>
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Application for ice cream shop management
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <span>
        <a>
            <img class="img1" src="assets/img/icecream.jpg" alt="icecream">
        </a>
    </span>

    <mat-card-content class="attribute">
        <br>
        <a class="attribute">
            Photo by 
            <a href="https://unsplash.com/@kentas_photography?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
                Kenta Kikuchi
            </a> 
            on 
            <a href="https://unsplash.com/s/photos/ice-cream?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
                Unsplash
            </a>
        </a>
    </mat-card-content>


</mat-card>