.home .title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 1.1rem;

}

.img1 {
    margin-top: 40px;
    margin-left: 45px;
    display: flex;
    max-height: 400px;
    align-items: center;
}

.home .content {
    lighting-color: #fff;
    text-decoration: none;
}