.footer{
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
}

.footer > span {
    font-size: 1.1rem;
    font-weight: 30;

}
.footer-assign {
    font-style: bold;
    color: rgb(233, 142, 88);
}