/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fff;
 }

.pink {
    color: rgb(209, 71, 117);
}

.v-middle {
    vertical-align: middle;
}

.msg-success {
    background-color: rgb(40, 167, 69);
    color: #fff;
}

.msg-error {
    background-color: rgb(209, 71, 117);
    color: #fff;
}